.dark {
    background-color: hsl(0, 0%, 90%);
    color: black;
}

.dark:hover {
    background-color: hsl(0, 0%, 100%);
}

.dark:active {
    background-color: hsl(0, 0%, 80%);
}

.light {
    background-color: hsl(0, 0%, 10%);
    color: white;
}

.light:hover {
    background-color: hsl(0, 0%, 20%);
}

.light:active {
    background-color: hsl(0, 0%, 0%);
}

.lightBg1
{

}

.darkBg1
{
    background-color: #040404;
}

.lightBg2{

}
.darkBg2{
    background-color: #080808;
}